[Unit]
Description=Librecord Backend
After=network.target docker.service
Requires=docker.service

[Service]
Type=exec
User=dev-egg
WorkingDirectory=/home/dev-egg/HostedPrograms/Librecord
EnvironmentFile=/home/dev-egg/HostedPrograms/Librecord/.env
ExecStart=/usr/bin/dotnet run --project Librecord.Api --configuration Release --no-build --no-launch-profile
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
